[Desktop Entry]
Name=Mplay
Comment=Console based frontend to MPlayer
Comment[pl]=Konsolowa nakładka na MPlayera
Exec=mplay
Terminal=true
Type=Application
Categories=AudioVideo;Player;
Encoding=UTF-8
# vi: encoding=utf-8

